/*博客版左边*/
.i_73{background-position:-60px -140px;}
.i_74{background-position:-80px -140px;}
.i_75{background-position:-100px -140px;}
.blog_l{width:310px; padding-right:10px; float:left;}
.blog_l_info{width:310px; height:222px; background-image:url(../img/blog/uc.png);}
.blog_l_info_l{display:inline-block; margin:80px 0 0 22px;}
.blog_l_info_r{display:inline-block; margin:80px 0 0 10px; vertical-align:top;}
.blog_l_nav{width:308px; margin:20px 0 0 1px; border:1px solid #D0DAE6;}
.blog_l_nav_li,.blog_l_nav_li_off,.blog_l_nav_li_on{display:block; padding:7px 15px; color:#555;}
.blog_l_nav_li_on{background-color:#0372DE; color:#fff;}
.blog_l_nav_li_on .blog_l_num,.blog_l_nav_li_on .midify_pwd{color:#fff;}
.blog_l_num{margin:0 5px; color:#999;}
.blog_l_nav_li:hover,.blog_l_nav_li_off:hover{background-color:#fff; text-decoration:none;}
.blog_l_nav_li_on:hover{text-decoration:none;}
.blog_l_title{padding:7px 15px; background-color:#e3e8ee;}
.dis_attention{display:inline-block; margin-top:10px; padding:5px; background-color:#EEF3F8; color:#999;}
.pub_info_list{padding:10px; background-color:#E0E9EF; border-bottom:1px solid #fff;}
.boxsh3{-webkit-box-shadow:2px 2px 2px #b7c7d4; -moz-box-shadow:2px 2px 2px #b7c7d4; -o-box-shadow:2px 2px 2px #b7c7d4; box-shadow:2px 2px 2px #b7c7d4;}

/*右边个人中心页面*/
.uc_r{min-height:768px; margin-top:30px; border:1px solid #D0DAE6; background-color:#fff;}
.uc_r_head{padding:10px 20px 5px 20px; border-bottom:1px solid #D0DAE6; background-color:#EFF6F9;}
.uc_r_nav{margin-top:10px;}
.uc_r_nav .nav_on{display:inline-block; margin-right:5px; padding:2px 5px; background-color:#0372DE; color:#FFF;}
.uc_r_nav .nav_off{display:inline-block; margin-right:5px; padding:2px 5px;}
.uc_r_search{display:inline-block; margin-top:10px; padding:2px; background-color:#fff; border:1px solid #D0DAE6;}
.uc_r_li{margin-top:1px; padding:5px; border-bottom:1px solid #E5EAEF;}
.uc_r_li:hover{background-color:#EEF3F8;}
.uc_r_edit{margin-left:10px; color:#fff;}
.uc_r_li:hover .uc_r_edit{color:#4893dc;}
.boxsh2{-webkit-box-shadow:0 2px 2px #b7c7d4; -moz-box-shadow:0 2px 2px #b7c7d4; -o-box-shadow:0 2px 2px #b7c7d4; box-shadow:0 2px 2px #b7c7d4;}
.uc_sort{display:inherit; width:20px;text-align:center;}
.uc_con{margin:10px 10px 0 10px; border-bottom:1px solid #D0DAE6;}
.uc_con .tab_off,.uc_con .tab_on{line-height:28px; margin-right:5px; text-align:center; font-weight:bold; text-decoration:none; float:right;}
.uc_con .tab_off{width:70px; height:28px; background-color:#F1F2F2;}
.uc_con .tab_off:hover{color:#555;}
.uc_con .tab_on{width:68px; height:28px; margin-bottom:-1px; background-color:#fff; border-width:1px; border-style:solid; border-color:#C4D3EA #C4D3EA #fff; color:#555;}
.uc_add_con,.uc_del_con{display:inline-block; margin-top:5px; padding:2px ;}
.uc_del_con{border:1px solid #E1E3E5; background-color:#F6F6F6; color:#999;}
.uc_add_con{background-color:#56BB12; color:#fff;}
.mt-2{margin-top:-2px;}

/*右边设置页面*/
/*个人简历*/
.pct10{width:10%;}
.pct90{width:90%;}
.set_r{border:1px solid #D0DAE6; background-color:#fff;}
.set_title{padding:5px 0 10px 0; border-bottom:1px solid #D0DAE6; color:#FFA800; font-size:28px; font-weight:bold; text-align:center; letter-spacing:30px;}
.set_r_box{padding:15px; line-height:25px; border-bottom:1px solid #D0DAE6;}
.set_content_box{padding:0 5px 5px;}
.set_content_box:hover .set_content_list{background-color:#EEF3F8;}
.ibg_l{display:none;}
.set_content_box:hover .ibg_l{display:inline-block;}
.set_input_220,.set_input_55{width:210px; padding:0 5px; height:18px; line-height:18px; border:1px solid #B9CBE7;}
.set_input_55{width:45px;}
.set_suject{display:inline-block; line-height:20px; padding:0 5px; background-color:#A0B8C8; color:#fff;}
.set_suject_del{display:inline-block; margin-left:10px; color:#fff;}
.set_suject_del:hover{color:#FF3300;}
.set_webset{padding:10px; margin:5px 10px; border:1px solid #FFB62A; background-color:#FFFBD7;}
.set_textarea{width:100%; height:150px; padding:5px; border:1px solid #B9CBE7; resize:none;}
.ml240{margin-left:240px;}
/*设置*/
.person{display:block; padding:10px 9px; background-color:#fff; border-width:2px 1px 1px; border-style:solid; border-color:#E8EEF2 #D9E2E9 #E8EEF2 #E0E8EE;}
.file_input{width:210px; height:30px; margin-left:-10px; cursor:pointer; position:absolute; top:0; left:0; opacity:0;filter:alpha(opacity=0);}
.set_left{width:652px; margin:10px; float:left;}
.set_avatar_box{width:300px; height:108px; overflow:hidden; float:left; position:relative;}
.set_avatar_change{color:#ccc; float:left; font-size:29px; margin-top:20px; text-decoration:none;}
.set_avatar_change:hover{text-decoration:none;}
.set_infor{width:310px;}
.set_move_box{width:2000px; text-align:center; position:absolute; left:0; top:0;}
.set_avatar_list{width:300px; float:left;}
.set_alert{width:260px; height:20px; line-height:20px; padding-left:10px; background-color:#F00; color:#FFF;}
.avatar_loading{width:140px; height:140px;}

/*博客*/
.blog_list_head{margin-top:30px; padding:20px; border:1px solid #D4DAE0;}
.blog_eidt_bt{display:inline-block; background-image:url(../img/blog/blog.gif);}
.blog_eidt_bt{width:133px; height:60px; margin-left:30px; background-position:-210px 0;}
.bluebtn_set{
	display:inline-block; width:60px; line-height:24px; border:#ccc 1px solid; color:#fff; text-align:center;
	background-color:#0372DE;
	-moz-border-radius:3px;	
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.bluebtn_set:hover{background-color:#0862B9;}
.grabtn_set{
	display:inline-block; width:60px; line-height:24px; border:#ccc 1px solid; color:#555; text-align:center;
	background-color:#EAEAEA;
	-moz-border-radius:3px;	
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.grabtn_set:hover{background-image:-moz-linear-gradient(#fff 0%,#F4F4F4 3%,#eee 98%,#ccc 100%);
	background-image:-webkit-linear-gradient(#fff 0%,#F4F4F4 3%,#eee 98%,#ccc 100%);
	background-image:-o-linear-gradient(#fff 0%,#F4F4F4 3%,#eee 98%,#ccc 100%);
	background-color:#eee;
}


/*公开文件图像显示*/
<!--
.list{position:relative;}
.list span img{ /*CSS for enlarged image*/ border-width: 0; padding: 2px; width: 200px; }
.list span{ 
position: absolute;
padding: 3px;
border: 1px solid gray;
visibility: hidden;
background-color:#FFFFFF;
	}
	.list:hover{ background-color:transparent;
	}
	.list:hover span{
	visibility: visible;
	top:0; left:60px;
	}
-->


