@CHARSET "UTF-8";

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0}


/*导航栏以及全部商品的悬浮窗口*/
.head_menu{float:right;margin-right:50px;padding-left:15px;overflow:hidden;line-height:25px}
.head_menu a{float:left; height:16px;line-height:26px;position:relative;color:gray;text-decoration:none}
.head_menu li{float:left;position:relative;padding:8px 14px;color:#808080;width:60px}

.item a{padding:1px 2px}
.item:hover a {color:red;}

.head_li1:hover{background-color:#fff;border:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.drop_servi{margin-top:30px;width:60px;position: absolute;}
.head_li1:hover div.drop_servi{display:block;position:relative; z-index:99;}

.head_li2:hover{background-color:#fff;border:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.drop_nav{position: absolute;margin-top:30px;width:60px}
.head_li2 span{font-weight:bold;font-size:16px;margin-bottomm:10px}
.head_li2:hover div.drop_nav{display:block;position:relative; z-index:99;}





