@CHARSET "UTF-8";



.order_div1{width:800px;height:150px;margin-left:500px;margin-top:50px;}
.order_div1 li {float:left;font-size:12px;}
.hr1{width:150px; height:5px;border:none;border-top:5px ridge #BCE8A3;}
.hr2{width:150px; height:5px;border:none;border-top:5px ridge #F7F7F7;}


.order_div2{width:1000px;height:30px;margin-left:100px;margin-top:-80px;border:1px solid #DDDDDD;background:#F7F7F7}
.order_div2 h3{color:#757575;margin-top:3px;}

.order_div3{width:1000px;height:auto;margin-left:100px;border:1px solid #DDDDDD;}
.order_div3 span{display:block}
.order_div3 strong{display:block;padding:10px;margin-top:10px}
.order_div3_1{width:1000px;height:120px;border-bottom:1px solid #DDDDDD;}
.order_div3_1 p{margin-left:100px;}
.order_div3_2{width:1000px;height:120px;border-bottom:1px solid #DDDDDD;}
.order_div3_2 p{margin-left:100px;}
.order_div3_3{width:1000px;height:auto;border-bottom:1px solid #DDDDDD;}
.order_div3_3 a{text-decoration:none}
.order_div3_3 a:hover{text-decoration:underline}
.order_div3_4{width:900px;height:auto;margin-left:50px;margin-top:30px;}
.order_div3_4_1{width:900px;height:30px;background:#EEEEEE}
.order_div3_4_1  span{display:block;height:auto;float:left;margin-left:10px;text-align:center;line-height:30px;}
.order_div3_4_2{width:900px;height:120px;margin-top:50px;border-bottom:1px dotted black;text-align:center;}
.order_div3_4_2  span{display:block;height:auto;float:left;margin-left:10px;text-align:center;line-height:30px;}

.button_sub{width:60px;height:25px;margin-left:280px;margin-top:-25px;background:#CC0000;color:white;border:0}
.button_sub:hover{background:#EC4245}
.goSubmit{display:block;float:left;margin-top:-30px;margin-left:800px;border:1px solid #999999;
		width:150px;height:35px;text-align:center;background:#CC0000;color:white;line-height:35px;font-size:20px;font-weight:bold;border:0}
.goSubmit:hover{background:#EC4245}
