@CHARSET "UTF-8";



.goodlist{margin-top:10px;position:absoute}
.goodlist h2{margin-left:52px}
.goodlist span{display:block;margin-left:115px;margin-top:-20px}

.java_menu1{margin-top:40px;height:32px;}
/*导航栏以及全部商品的悬浮窗口*/
.java_menu2 {float:left;margin-left:50px;margin-top:20px;}
.java_menu2 ul li a, .java_menu2 ul li a:visited {display:block; text-align:center; text-decoration:none; width:104px;height:40px; border:1px solid #CC9933;color:white;background:#CC9933;line-height:40px; font-size:15px;font-weight:bold}
.java_menu2 ul li:hover a{background:#996633;}
.java_menu3{height:32px;font-family:"Microsoft Yahei",Tahoma, Geneva, sans-serif;}
.java_menu3 li{font-size:14px;float:left;position:relative;}
.java_menu3 ul{width:250px;border:1px solid #629d2a;border-top:none;position:absolute;display:none}

.java_menu3 li:hover a {text-decoration:underline;}
.java_menu3 li:hover ul {top:40px;display:block;border:2px solid #CC9933;margin-left:1px;width:244px;text-decoration:underline;}
.java_menu3 li:hover ul li a{color:black;border:none;text-decoration:none;background:white;font-size:15px;}
.java_menu3 li:hover ul li a:hover{text-decoration:underline;color:#DC143C}


.leftPart{float:left;margin-left:50px;margin-top:20px;width:220px;height:400px;border:1px solid black;}


.goods_center{float:left;margin:20px;width:800px;height:auto;}
.goods_center span {line-height:27px;}
.goods_center a:hover {color:#CC9933;text-decoration: underline;}

.goods_img{float:left;width:260px;margin-top:30px;margin-left:40px;}
.goods_detail{float:left;width:400px;margin-top:30px;margin-bottom:20px}

.desc{display:block;color:red;width:300px;font-size:15px;font-weight:bold;white-space:nowrap; /* 设置一行显示 */overflow:hidden; /* 设置超出部分自动隐藏 */text-overflow:ellipsis;width: 20em;/*不允许出现半汉字截断*/}

.addbutton{display:block;width:70px;height:30px;border:1px solid #CCCCCC;font-size:14px;font-color:gray;background-color:#CCCCCC;text-decoration:none;line-height:30px;}
.addbutton:hover {background-color:gray;text-decoration:none;font-color:black;}

/*商品分割线*/
.cut_off{border:1px dashed #CCCCCC;width:800px;text-align:center;}

.page{width:400px;height:30px;margin-left:400px;}
.page a{display:block;float:left;width:30px;height:25px;color:blue;border:1px solid gray;margin-left:4px;text-decoration:none;text-align:center; line-height:25px;font-size:15px}
