@CHARSET "UTF-8";

a{text-decoration:none}
strong{font-size:16px;font-weight:bold}


.shopping_div1{margin-left:500px;margin-top:50px;}
.shopping_div1 li {float:left;font-size:16px;}
.hr1{width:150px; height:5px;border:none;border-top:5px ridge #F7F7F7;}

.shopping_div2{width:80%;margin-left:100px;margin-top:100px;}

.add_number{display:inline-block; margin-left:5px; border-width:1px 0 1px 1px; border-style:solid; border-color:#9C9C9C; border-radius:3px; font-size:14px;}
.add_number .case{display:inline-block; width:35px; height:28px; line-height:28px; border-right:1px solid #9C9C9C; text-align:center;}
.case .num_input{width:30px; height:24px; line-height:24px; border:none;}
.totalNum{color:#ff0000;font-size:16px;padding:5px;}
.totalPrice{color:#ff0000;font-size:16px;font-weight:bold;padding:5px;}

.cart_toolbar{border:1px solid #c0c0c0;height:55px;margin-top:10px;line-height:50px;}

.emptyCart{padding:230px}

.goPay{display:block;float:right;border:1px solid #999999;
		width:95px;height:55px;text-align:center;background:#CC0000;color:white;line-height:55px;font-size:18px;font-weight:bold;}
		
.order_div1{width:800px;height:150px;margin-left:500px;margin-top:50px;}
		
		
.order_div1 li {float:left;font-size:12px;}
.hr1{width:150px; height:5px;border:none;border-top:5px ridge #BCE8A3;}
.hr2{width:150px; height:5px;border:none;border-top:5px ridge #F7F7F7;}


.order_div2{width:80%;height:30px;margin-left:10%;border:1px solid #DDDDDD;background:#F7F7F7}
.order_div2 h3{color:#757575;margin-top:3px;}

.order_div3{width:80%;height:auto;margin-left:10%;border:1px solid #DDDDDD;}
.order_div3 span{display:block}
.order_div3 strong{display:block;padding:10px;margin-top:10px}
.order_div3_1{height:120px;border-bottom:1px solid #DDDDDD;}
.order_div3_2{height:120px;border-bottom:1px solid #DDDDDD;}
.order_div3_3{height:auto;border-bottom:1px solid #DDDDDD;}
.order_div3_3 a{text-decoration:none}
.order_div3_3 a:hover{text-decoration:underline}
.order_div3_4{height:auto;margin-top:30px;}
.order_div3_4_1{height:30px;background:#EEEEEE}
.order_div3_4_2{height:120px;margin-top:50px;border-bottom:1px dotted black;text-align:center;}

.address{height:40px;line-height:30px;float:right;width:100%}
.address_list{margin-left:200px;font-size:14px}
.address_list li,span{float:left;padding:0 5px;}

.payMode{float:left;width:80px;height:30px;margin-left:30px;margin-top:20px;line-height:30px;text-align:center;border:1px solid #c0c0c0;cursor:pointer;}
.selected{border:2 solid #e10000;}

.button_sub{width:60px;height:25px;margin-left:280px;margin-top:-25px;background:#CC0000;color:white;border:0}
.button_sub:hover{background:#EC4245}
.goSubmit{display:block;float:left;margin-top:-30px;margin-left:800px;border:1px solid #999999;
		width:150px;height:35px;text-align:center;background:#CC0000;color:white;line-height:35px;font-size:20px;font-weight:bold;border:0;cursor:pointer;}
.goSubmit:hover{background:#EC4245}
		