@CHARSET "UTF-8";




body{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#333; margin:0 auto; }
a{color:#333; text-decoration:none}
a:hover{text-decoration:underline;color:red}



.h{float:left;}
.h h1{margin-left:80px;margin-top:10px;}
.h span {dispaly:block;float:left;margin-left:140px;margin-top:-20px;}


/*导航栏下面 左侧的框架*/
.li_1_1{margin-top:60px;margin-left:81px;text-decoration:none; width:220px; height:780px; color:white;font-size:18px;border:2px solid gray;}
.li_1_1 span{float:left;font-size:16px;margin-right:50px;margin-top:8px;margin-left:15px}
.li_1_1 span a{text-decoration:none;color:black;margin-top:2px;font-size:13px;}
.li_1_1 span a:hover  {color:#990000; background:white;text-decoration:underline;}
.li_1_1 h5 {margin-left:8px;margin-top:12px;}




/*图片切换*/
.dhooo_tab{width:720px; margin-left:330px;margin-top:-500px;height:500px;background:#fff url(../images/main_bg.gif) repeat-x 0 100%; position:relative; float:left;}
.tab_btn li{float:left; width:80px;margin-left:10px;text-align:center;}
.tab_btn li {font-size:12px;display:block; padding:10px;margin-right:5px; zoom:1;text-decoration:none; color:#fff;line-height:50%; cursor:pointer;}
.tab_btn li.hot {background:#fff;color:#333;font-weight:bold;cursor:default;}
.tab_btn{overflow:hidden;height:28px; padding-left:20px; padding-top:5px; background:url(../images/tabbar.gif) repeat-x ; }
.shell{width:99999px; height:100%; }
.shell li{float:left; width:760px; height:98%; }
.main{width:720px;height:500px; overflow:hidden;  text-align:left;font-size:12px;}

.dhooo_tab1{margin-left:330px;margin-top:-780px; width:720px; background:#fff url(../images/main_bg.gif) repeat-x 0 100%; position:relative; }
.tab_btn_1{position:absolute; right:50px;bottom:15px;}
.tab_btn_1 li{width:20px;height:20px;background: #CC3300;border:2px solid #993300; overflow:hidden; color:#fff; filter:alpha(opacity=80);opacity:0.8;float:left;cursor:default; font-size:12px;line-height:20px; margin:0px 5px; font-family:Arial;}
.tab_btn_1 li.hot{background:#FFCC00; color:#993300; border:2px solid #FF0000; }
.main1{width:720px;height:190px; overflow:hidden;  margin:10px auto; text-align:left;font-size:12px;}


.zixun{margin-left:1090px;margin-top:-200px;border:1px solid gray;width:180px;height:190px;}
.zixun h3 {margin-left:5px;}
.zixun ul li{font-size:12px;marigin-top:5px;line-height:25px;list-style-type : disc;margin-left:20px}
.zixun a:hover{color:red;background:white;}

