@CHARSET "UTF-8";

body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0}

.search{margin-left:300;width:400px;height:35px;border:2px solid #CC9933}
.button{display:block;margin-left:700;margin-top:-35px;width:100px;height:35px;color:white;
		background:#CC9933;font-size:20px;text-align:center;line-height:35px;text-decoration:none}
.head_search{width:500px;margin-left:300px;margin-top:30px;border:2px solid #CC9933}
.head_search input{width:400px;height:35px;border:2px solid #CC9933}
.head_search a{display:block;margin-left:400;margin-top:-36px;width:100px;height:36px;color:white;
		background:#CC9933;font-size:20px;text-align:center;line-height:35px;text-decoration:none}
.head_search input:focus{outline:none}



.head_top{background:#F7F7F7}
/*导航栏以及全部商品的悬浮窗口*/
.head_menu{margin-left:600px;height:32px;color:gray;padding-left:15px;_overflow:hidden;background:#F7F7F7;}
.head_menu a{height:16px;line-height:16px;position:relative;color:gray;text-decoration:none}
.head_menu li{float:left;font-size:14px;position:relative;padding:8px 8px;color:#808080;}

.head_li1:hover{background-color:#fff;border:1px solid #DDDDDD;border-bottom:none;padding:8px 11px}
.head_li1 ul{width:61;background-color:#fff;border:1px solid #DDDDDD;border-top:none;position:absolute;left:0px;top:-999em;z-index:99999;padding:8px;display:none}
.head_li1:hover ul{top:32px;display:block;}
.head_li1:hover ul li{font-size:12px;border:none;width:60px;float:left;padding:4px 0 4px 4px}
.head_li1:hover ul li a{color:#333;text-decoration:none;padding:0}
.head_li1:hover ul li a:hover{text-decoration:underline}
.head_li2:hover{background-color:#fff;border:1px solid #DDDDDD;border-bottom:none;padding:8px 11px}
.head_li2 span{font-weight:bold;font-size:16px;}
.head_li2 ul{width:200;background-color:#fff;border:1px solid #DDDDDD;border-top:none;position:absolute;left:-139px;top:-999em;z-index:99999;padding:8px;display:none}
.head_li2:hover ul{top:31px;display:block;}
.head_li2:hover ul li{font-size:12px;border:none;width:60px;float:left;padding:4px 0 4px 4px}
.head_li2:hover ul li a{color:#333;text-decoration:none;padding:0}
.head_li2:hover ul li a:hover{text-decoration:underline}





.head_menu1{margin-left:50px;height:45px;_overflow:hidden;background:#CC9933;}
.head_menu1 li{float:left;font-size:14px;position:relative;padding:8px ;width:100px}
.head_menu1 li a{display:block;line-height:30px;position:relative;color:white;text-decoration:none;font-weight:bold;text-align:center}
.head_menu1 ul{display:none;width:238;background-color:#fff;border:1px solid #DDDDDD;border-top:none;position:absolute;left:0px;top:-999em;z-index:99999;padding:8px;}
.head_menu1 li:hover{background-color:#996633;}/* 修改*/
.head_menu1 li:hover ul{dispaly:block;top:45px;}
.head_menu1 li:hover a {text-decoration:none;}
.head_menu1 li:hover ul {display:block;border:1px solid #CC9933;width:244px;text-decoration:underline;}
.head_menu1 li:hover ul li{background-color:white}
.head_menu1 li:hover ul li a{color:black;border:none;text-decoration:none;background:white;font-size:15px;text-align:left;}
.head_menu1 li:hover ul li a:hover{text-decoration:underline;color:#DC143C;border:0px #fff solid }


