@CHARSET "UTF-8";


.main_search{width:500px;margin-left:300px;margin-top:30px;border:2px solid #DC143C}
.main_search input{width:400px;height:35px;border:2px solid #DC143C}
.main_search a{display:block;margin-left:400;margin-top:-36px;width:100px;height:36px;color:white;
		background:#DC143C;font-size:20px;text-align:center;line-height:35px;text-decoration:none}
.main_search input:focus{outline:none}


.main_menu2 {float:left;margin-left:80px;margin-top:20px;border: 2px solid #DC143C;width:240px;text-decoration:none;}
.main_menu2_li_1{text-align:center;  width:240px; height:40px; color:white;background:#DC143C;line-height:40px; font-size:18px;border: 1px solid #DC143C;}
.main_menu2_li_1 a{font-weight:bold;text-decoration:none;color:white}
.main_menu2_li_1{text-decoration:none; width:240px; height:40px; color:white;font-size:18px;}
.main_menu2_li_1 span{float:left;font-size:15px;margin-right:50px;}
.main_menu2_li_1 span a{text-decoration:none;color:black;margin-top:2px;font-weight:bold;}
.main_menu2_li_1 span a:hover  {color:#990000; background:white;text-decoration:underline;}

.main_menu3 {float:left;margin-left:0px;margin-top:20px;}
.main_menu3 ul {padding:0; margin:0;list-style-type: none;}
.main_menu3 ul li {float:left;position:relative;}
.main_menu3 ul li a, .menu3 ul li a:visited {display:block; text-align:center; text-decoration:none; width:104px;height:40px; border:1px solid #DC143C;color:white;background:#DC143C;line-height:40px; font-size:15px;font-weight:bold}
.main_menu3 ul li:hover a { background:#990000;}


.main_container, .main_container *{margin:0; padding:0;}
.main_container{width:700px; height:300px; overflow:hidden;position:relative;}
.main_slider{position:absolute;}
.main_slider li{ list-style:none;display:inline;}
.main_slider img{ width:708px; height:300px; display:block;margin-top:20px;margin-left:10px;}
.main_num{ position:absolute; right:5px; bottom:5px;}
.main_num li{float: left;color: #FF7300;text-align: center;line-height: 16px;width: 16px;height: 16px;font-family: Arial;font-size: 12px;cursor: pointer;overflow: hidden;margin: 3px 1px;border: 1px solid #FF7300;background-color: #fff;}
.main_num li.on{color: #fff;line-height: 21px;width: 21px;height: 21px;font-size: 16px;margin: 0 1px;border: 0;background-color: #FF7300;font-weight: bold;}





